#btn{
    border-radius: 100px;
         border-color: black; 
         background-color: rgb(248, 70, 0);
    height: 20px;
        width: 100px;
    color: white;
}

.a{
    border-color: black;
    background-color: rgb(250, 219, 134);
    color: black;
    border-radius: 50px;
}

.b{
    background-color: rgb(236, 131, 33);
    border-radius: 100px;
    border-color: black;
    padding-left:15px;
    padding-right: 15px; color: white;
}